*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 2rem;
}
.first_last_background{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url(./img/bg.jpg);
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.other_background1{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/bg2.jpg);
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.other_background2{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/bg3.jpg);
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.other_background3{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/bg4.jpg);
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.f_l_span{
    background-color: black;
    padding: 1.8vw;
    font-size: 3vw;
    letter-spacing: 0.2vw;
    outline-offset: 0.7vw;
    outline: 0.5rem purple solid;

    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
img{
    width: 27vw;
}
.content_section1{
    width: 100vw;
    background-color: rgb(245, 241, 241);
    text-align: center;
    padding: 2rem;
}
.content_section2{
    width: 100vw;
    background-color: rgb(54, 54, 54);
    text-align: center;
    padding: 2.5rem;
    color: wheat;
}
h2{
    margin-bottom: 2rem;
    font-size: 1.9rem;
    font-weight: 900;
}
.other_background1,.other_background2,.other_background3,.first_last_background{
    opacity: 0.7;
}
.o_span{
    background-color: black;
    padding: 2.3vw;
    font-size: 3vw;
    letter-spacing: 0.2vw;
    outline-offset: 0.7vw;
    outline: 0.5rem purple solid;

    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
